<!DOCTYPE HTML>
<html>
	<head>
		<title>AwwStream</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400" rel="stylesheet" />
		<script src="javascripts/jquery-1.9.1.min.js"></script>
		<script src="stylesheets/5grid/init.js?use=mobile,desktop"></script>
		<script src="javascripts/jquery.formerize-1.1.js"></script>
		<script src="javascripts/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="stylesheets/5grid/core.css" />
			<link rel="stylesheet" href="stylesheets/5grid/core-desktop.css" />
			<link rel="stylesheet" href="stylesheets/5grid/core-1200px.css" />
			<link rel="stylesheet" href="stylesheets/5grid/core-noscript.css" />
			<link rel="stylesheet" href="stylesheets/style.css" />
			<link rel="stylesheet" href="stylesheets/style-desktop.css" />
			<link rel="stylesheet" href="stylesheets/noscript.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
	</head>
	<body class="homepage">

		<!-- Wrapper-->
			<div id="wrapper">
				
				<!-- Nav -->
					<nav id="nav">
						<a href="#me" class="icon icon-user"><span>Me</span></a>
						<a href="#videos" class="icon icon-folder active"><span>Videos</span></a>
						<a href="#download" class="icon icon-folder"><span>Download App</span></a>
						<a href="http://www.facebook.com/pages/Awwstream-The-Personalized-Stream-of-Awesome-Videos/481748448548569?ref=hl" class="icon icon-facebook" target="_blank"></a>
					</nav>

				<!-- Main -->
					<div id="main">						
						<!-- Videos -->
							<article id="videos" class="panel">
								
								<div id="player"></div>
								
								<script src="javascripts/youtube_script.js"></script>

								<h2>
									<a href="https://play.google.com/store/apps/details?id=com.awwstream.android&feature=nav_result#?t=W251bGwsMSwxLDMsImNvbS5hd3dzdHJlYW0uYW5kcm9pZCJd" target="_blank">
										<img style="float:right" src="images/download_button.png" />
									</a>
									Download AwwStream Android App For More Funny Videos
								</h2>
							</article>

						<!-- Me -->
							<article id="me" class="panel">
								<header>
									<h1>Welcome to AwwStream!</h1>
									<span class="byline">
									<p>This site is currently under construction.</br>
									You may want to try out our <b>Android App</b>.</p>
									</span>
								</header>
								<a href="#download" class="jumplink pic">
									<span class="jumplink arrow icon icon-right"><span>Download our app</span></span>
									<img src="images/download.jpg" alt="" />
								</a>
							</article>
							
						<!-- Download --> 
							<article id="download" class="panel">
								<header>
									<h2>
										<a href="https://play.google.com/store/apps/details?id=com.awwstream.android&feature=nav_result#?t=W251bGwsMSwxLDMsImNvbS5hd3dzdHJlYW0uYW5kcm9pZCJd" target="_blank">
											<img style="float:right" src="images/download_button.png" />
										</a>
										Download App
									</h2>
								</header>
								<a>
									<img src="https://lh3.ggpht.com/x4yror0kQdXUCyMdV5QHvefCYJ4eTH-SggC8hi2HH9-aJ0XqGA_hw2llgk0hk_Q8aA=w705" />
								</a>
								<br/>
								<h3>Screenshots</h3>
								<section class="5grid is-gallery">									
									<img src="https://lh6.ggpht.com/dpf4BCjxZq28hD-1RazxR50_aSfcBkswm-Sv9QAEv6LIw346zThhgYxqwkGg5F9jlwE=h230" />
									<img src="https://lh6.ggpht.com/z4vg-_clxEXIEKPixujoj5A7QZ7r49j25xRwSzP-cnU77EPRgPLUbYff2vs2H1IhfVRN=h230" />
									<img src="https://lh5.ggpht.com/KwjwGQF-qJlBDgaWLHS6YEBTdcIGueRlq-0TUJoGkhKqCoocvTKD5tEM4hV8cN2VV5Rv=h230" />
									<img src="https://lh3.ggpht.com/k9l1wPqvowl_A7QAiVYpdCdW5NrKN-n2dlRG2PMmn7cl9Z1O-i40BNwFgEc7uiQY-js=h230" />
								</section>
							</article>

					</div>
		
				<!-- Footer -->
					<div id="footer">
						<ul class="links">
							<li>&copy; Beautiful Lab</li>
							<li>Design : tuanh118</li>
						</ul>
					</div>
		
			</div>

	</body>
</html>